<!DOCTYPE html>
<html>
  <head><meta charset="utf-8"><title>Echo</title></head>
  <body>
    <h1>Echo</h1>
    <!-- La sintaxis <%= msg %> asegura que cualquier HTML inyectado sea "escapado" y se muestre como texto plano -->
    <p><%= msg %></p>
    <a href="/">Inicio</a>
  </body>
</html>